body {
    background-color: rgb(213, 241, 248);
    height: 100%;
    width: 100%;
    font-family: 'Verdana';   
    text-align: center;
}

.boto {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.63em;
    width: 6.25em;
    height: 0.63em;
    background-color: #d6a3eb;
    color: white;
    padding: 1.69em 9.38em 2.31em 9.38em;
    text-decoration: none;
    border-style: inset;
    font-size: 1.25em;
}

.boto:hover {
    background-color: #6d7be6;
    border-style: outset;
}